bam_folder	<path to folder containing the fastq_mapping_sorted.bam>/
feature_folder	<path to folder containing the  chromosomeX_features>/
modif_folder	<path to folder containing the output of the preprocess_modif_tables.py script: Preprocessed_Table_mod and Preprocessed_Table_pos>/
CpG_file	<path to folder containing the output of CgPProd_linux tool per chromosome: CpG_chrX>/
output_folder	<path to main folder for the output>/
bed_folder	<path to the bed output>/
